.tabs {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 16px;

    &__header {
      display: flex;
      border-bottom: 1px solid hsla(var(--neutral-100));
  
      &--button {
        border: none;
        background: none;
        cursor: pointer;
        padding: 16px 32px;
        transition: 0.25s;
  
        &.active {
          background-color: hsla(var(--neutral-100));
          color: hsla(var(--neutral-900));
        }

        &:hover {
          background-color: hsla(var(--neutral-300));
          color: hsla(var(--neutral-900));
        }
      }
    }
  
    .tabs__content {
      padding: 20px 0;
    }
  }