@import '~@payloadcms/ui/scss';

.admin-bar {
  @include small-break {
    display: none;
  }
  display: none;

  width: 150px;
  position: fixed;
  top: 0px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  z-index: 1000;

  div {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
}
