$mobile: 1000px;

.hero-banner {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;

    &.height {
        &-xs {
            height: 30vh;
        }

        &-md {
            height: 50vh;
        }

        &-xl {
            height: 100vh;
        }

        @media (max-width: $mobile) { 
            &-xs, &-md, &-xl {
                height: fit-content;
            }
        }
    }

    &__content {
        width: 100%;
        animation: fade-in-up 1.5s ease-out forwards;
        opacity: 0;
    }

    &__image {
        width: 100%;

        img {
            width: 100%;
        }
    }

    .content-wrapper {
        flex-direction: row;
        height: 100%;
        display: flex;
        align-items: center;

        @media (max-width: $mobile) { 
            flex-direction: column-reverse;
            padding: 128px 0;
        }
    }
}

@keyframes fade-in-up {
    from {
        transform: translateY(100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
